.example-card {
    max-width: 400px;
    border: 1px solid black;
    transition: width 0.5s;
}

button {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
}

.example-header-image {
    background-size: cover;
    border: 1px solid black;
}

.image {
    border: 1px solid black;
}